@import "tailwindcss";

:root {
   /* Base */
   --color-bg-primary: #0E0E0E;
   --color-bg-surface: #403963;
 
   /* Text */
   --color-text-primary: #EAD094;
   --color-text-secondary: #B2DCE2;
   --color-text-muted: #D7EAAC;
   --background: #ffffff;
 
   /* Brand */
   --color-brand-primary: #6596F3;   /* Tech / links / highlights */
   --color-brand-accent: #D3045D;    /* CTA / emphasis */
 
   /* States */
   --color-success: #83B366;
   --color-warning: #EAD094;
   --color-danger: #F3000E;
 
   /* Creative / Decorative */
   --color-decorative-purple: #D3A4EA;
   --color-decorative-dark: #64242F;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
